@import url("https://fonts.googleapis.com/css2?family=Inter&family=Titillium+Web&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    /* background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color); */
    /* background: linear-gradient(to bottom, #9EDE88, #4D7968); */
    background: #4D7968;
}

.wrapper {
    display:flex;
    margin-left: 5vw;
}
  
.card {
    background: linear-gradient(to top, #B7DB39,#E9DC5E);
    height: 58vw;
    width: 37.5vw;
    margin-right: 7.5%; /* Убираем отступ между карточками */
    margin-bottom: 4%; /* Добавляем отступ снизу для разделения карточек */
    border-radius: 6vw;
    box-shadow: 2.5vw 2.5px 7vw #434040;
    display: inline-block; /* Размещение карточек в ряд */
    vertical-align: top; /* Выравнивание карточек по верхнему краю */
}

.card:hover {
    box-shadow: 2.5vw 2.5px 5vw #0a0a0a;
}

.card-img {
    border-radius: 8%;
    width: 100%;
}

.img_div {
    width: 100%;
    box-sizing: border-box;
    padding: 7%;
}

.card-title {
    margin-top: -6%;
    margin-left: 7%;
    margin-right: 7%;
    font-size: 2.8vw;
    height: 9vw; /* Фиксированная высота */
    overflow: hidden; /* Скрытие лишнего текста */
    white-space: nowrap; /* Запрет переноса текста на новую строку */
    text-overflow: ellipsis; 
    font-weight: 600;
}

.btn-keeper {
    margin-top: 1vw; /* скорее всего нужно сделать отступ от другого объекта например, который не зависит от текста*/
    margin-left: 11.8vw;
    height: 10vw;
    width: 24vw;
    display: flex;
    align-items: center; /* Центрирование содержимого по вертикали */
}



.btn {
    background: linear-gradient(to top, #C81C2A , #ff747b);
    display: flex;
    
    width: 100%; 
    height: 7vw;  

    border-radius: 3vw;
    text-decoration: none;
    
    color: black;
    transition: background 0.5s linear;
    justify-content: center;
    align-items: center; /* Центрирование содержимого по вертикали */

}

.btn-icon {
    width: 2.5vw;
    height: 2.5vw; 
}

.btn-icon-minus {
    width: 2.5vw;
    height: 2.5vw; 
    padding: 3vw;
    margin-left: 0;
}

.btn-icon-plus {
    width: 2.5vw;
    height: 2.5vw; 
    padding: 3vw;
}

.quantity-keeper {
    width: 5vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; /* Центрирование содержимого по горизонтали */
}

.btn-text {
    font-size: 2.3vw;
}

.quantity-display {
    display: flex;
    align-items: center; /* Центрирование по вертикали */
    justify-content: space-between; /* Пространство между элементами */
    width: 10vw;
    margin: 0;
}

.btn:hover {
    box-shadow: 2.3vw 2.5px 5vw #434040;
    background: linear-gradient(to top,  #FB0F1B,#C81C2A);
}

.price {
    margin-left: 7%;
    margin-top: -23%;
    /* margin-bottom: 5%; */
    font-size: 3vw;
}
.weight {
    font-size: 2.2vw;
    color: #646464;
    margin-left: 8%;
    margin-top: -3%;
}



/* product.component.ts */

.centered{
    height: 100%;

}

.mb {
    width: 50%; /* Ширина элемента */
    margin: 0 auto; /* Автоматическое выравнивание по центру */
    text-align: center; /* Центрирование текста */
}

.form-control {
    width: 100%; /* Ширина текстового поля занимает всю ширину формы */
    padding: 10px;
    box-sizing: border-box; /* Учитывает padding в ширине и высоте */
}

.product-img {
    width: 100%;
    border-radius: 10vw;
}

.title-nut-val {
    font-size: 5vw;
}


/* @media (max-width: 768px) {

    .card {
 
    }
    
} */


/* navbar */

.navbar {
    /* background-color: #ffffff; */
    background-color: var(--tg-theme-header-bg-color);
    width: 100%;
    padding: 0.2rem;
    margin-top:-20px;
    margin-left:-8px;
    margin-right:-8px;
    position: fixed;



}

.navbar .container-fluid {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;  /* раздвигает элементы межу друг другом */
}

.navbar-brand{
    font-size: 3vw;
}

.navbar-nav {
    display: flex; /* Разместить элементы списка в строку */
    width: 100%;
}


.navbar-brand {
    /* color: #000; */
    color: var(--tg-theme-text-color);
    font-weight: bold; 
    text-decoration: none; /* Убрать подчеркивание */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 2vw;
    

}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color:#484848;

    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
    color: #000000;
}


.ms-auto {
    margin-left: auto; /* Push the cart link to the rightmost side */
}

#cart-link {
    display: flex;
    align-items: center; /* Центрирование иконки по вертикали */
}

#cart-icon {
    width: 4vw; /* Ширина картинки */
    height: 4vw; /* Высота картинки */
    vertical-align: middle; /* Центрирование по вертикали */
    background-color: red;
    border-radius: 7vw;
}

.btn- {
    background: linear-gradient(to top, #C81C2A , #ff747b);
    padding: 15% 50%;

    border-radius: 2.7vw;
    text-decoration: none;
    
    color: black;
    transition: background 0.5s linear;
    font-size: 2.5vw;
    display: none;
}
.count_products {
    display: none;
}

